body{
	background-color:#B3BE9A ;
}
.header{
position: absolute;
width:98%;
height: 110px;
left:  0px;
top: 0px;

background: #C69870;
border-radius: 120px;


position: absolute;
width: 18px;
height: 169px;
left: 1418px;
top: 172px;

background: #B3BE9A;
border-radius: 150px;

}
.sidebar{
position:absolute;
width: 300px;
height: 80%;
left: 0px;
top: 130px;

background: #E2E5D8;
border-radius: 49px;
}
.content{
position: absolute;
width: 73%;
height:80%;
left: 329px;
top: 128px;

background: #DBC7B0;
border-radius: 73px;

}